body {
    line-height: 1.6;
    vertical-align: text-top;
}
h1, h2, h3, h4, h5, h6 {
    padding: 10px;
    background-color: #005555;
    color: white;
    text-align: left;
}
#site-header a {
    padding: 3px;
    outline: none;
    text-decoration: none;
}
a:link, a:visited {
    color: black;
} 
#site-header a:focus, #site-header a:hover {
    background-color: #005555;
    color: white;
}
#site-header a:active {
    color: darkgray;
}
#site-header {
    text-align: center;
}
#site-header #header {
    background-color: #005555;
    font-size: 30px;
    color: white;
    padding: 10px;
}
#site-header #site-navigation {
    background-color: lightgray;
    padding: 10px;
    font-size: 22px;
}
#site-header #page-navigation {
    background-color: #73628A;
    padding: 10px;
    font-size: 22px;
    color: white;
}
#page-navigation a:link, #page-navigation a:visited {
    color:white;
}
#page-navigation a:active {
    color: darkgray;
}
a:active {
    color: darkgray;
}
.content {
    margin: 40px auto;
    max-width: 700px;
    font-size: 18px;
}

figure {
    background-color: honeydew;
    margin: 40px auto;
    overflow: hidden;
}
figure div {
    padding: 20px;
}
figure img {
    width: 40%;
    height: auto;
}
figure.left img{
    float: left;
    padding-right: 20px;
}
figure.right img{
    float: right;
    padding-left: 20px;
}
figure.top img{
    width: 100%;
    height: auto;
}
figure.top div{
    padding-top: 10px;
}
